
@{
    ViewBag.Title = "Overview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="block-header container-fluid">
    <div class="row clearfix">
        <div class="col-lg-6 col-xs-12 col-sm-4 col-md-6">
            <h1>Dashboard</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="javascript:void(0)">My Dashboard</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                        Dashboard
                    </li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<div class="block-body container-fluid">
    <div class="row clearfix">
        <div class="col-lg-6 col-xs-12 col-md-6 col-sm-6">
            <div class="card">
                <div class="body">
                    <div class="row text-center">
                        <div class="col-lg-4 col-xs-12 col-sm-6 col-md-4 border-right pb-4 pt-4">
                            <label class="mb-0 font-14 ">Total Student</label>
                            <h4 class="font-30 font-weight-bold">2,025</h4>
                        </div>
                        <div class="col-lg-4 col-xs-12 col-sm-6 col-md-4 border-right pb-4 pt-4">
                            <label class="mb-0 font-14 ">New Student</label>
                            <h4 class="font-30 font-weight-bold">754</h4>
                        </div>
                        <div class="col-lg-4 col-xs-12 col-sm-6 col-md-4 pb-4 pt-4">
                            <label class="mb-0 font-14">Teacher & Staff</label>
                            <h4 class="font-30 font-weight-bold">54</h4>
                        </div>
                    </div>
                    <hr />
                    <div class="mb-4 mt-4">
                        <label class="d-block">
                            Biology - Bio
                            <span class="float-right">77%</span>
                        </label>
                        <div class="progress progress-xxs">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:77%"></div>
                        </div>
                    </div>
                    <div class="mb-4">
                        <label class="d-block">
                            Business Analysts - BUS
                            <span class="float-right">50%</span>
                        </label>
                        <div class="progress progress-xxs">
                            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:50%"></div>
                        </div>
                    </div>
                    <div class="mb-4">
                        <label class="d-block">
                            Computer Technology - CT
                            <span class="float-right">69%</span>
                        </label>
                        <div class="progress progress-xxs">
                            <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:69%"></div>
                        </div>
                    </div>
                    <div class="mb-4">
                        <label class="d-block">
                            Management - MGT
                            <span class="float-right">23%</span>
                        </label>
                        <div class="progress progress-xxs">
                            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:23%"></div>
                        </div>
                    </div>
                    <div>
                        <label class="d-block">
                            Premdedical Studies - PMD
                            <span class="float-right">48%</span>
                        </label>
                        <div class="progress progress-xxs">
                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:48%"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="body">
                    <h6 class="mb-0 font-weight-light">Fees Collection</h6>
                    <small>The total number of Page Impressions date revenue range.</small>
                    <h3 class="mb-4 mt-3 font-weight-light">
                        $24,301
                        <span class="text-green font-15">+3.7%</span>
                    </h3>
                </div>
            </div>

        </div>
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="body">
                    <div class="font-14">Total Revenue</div>
                    <div class="py-3 m-0 text-center h1 text-success">
                        $79,452
                    </div>
                    <div class="d-flex font-14">
                        <small class="text-muted">Income</small>
                        <div class="ml-auto">
                            <i class="fa fa-caret-up text-success"></i>
                            4%
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="body">
                    <div class="card-value float-right text-muted">
                        <img src="~/Images/icons/cap.svg" />
                    </div>
                    <h3 class="mb-1 font-weight-bold">18</h3>
                    <div class="font-14">Total Course</div>
                </div>
            </div>
            <div class="card">
                <div class="body">
                    <div class="card-value float-right text-muted">
                        <img src="~/Images/icons/fog.svg" />
                    </div>
                    <h3 class="mb-1 font-weight-bold">12°C</h3>
                    <div class="font-14">Delhi</div>
                </div>
            </div>
        </div>
    </div>
</div>