@using Newtonsoft.Json;
@{
    ViewBag.Title = "Manage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="employeeform"></div>
<script type="text/javascript">
    var content = @Html.Raw(JsonConvert.SerializeObject(TempData["EmployeeData"]));
</script>
<script src="@Url.Content("../../React/employee/registration.jsx")"></script>