@using Newtonsoft.Json;
@{
    ViewBag.Title = "Registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    var content = @Html.Raw(JsonConvert.SerializeObject(TempData["EmployeeData"]));
</script>
<div id="employeeform"></div>
<script src="@Url.Content("../../React/employee/registration.jsx")"></script>
