
@{
    ViewBag.Title = "Academic";
}
<div class="esubmenu">
    <ul class="breadcrumb float-left">
        <li><a href="#">Home /</a></li>
        <li><a href="#">Pictures /</a></li>
        <li><a href="#">Summer 15 /</a></li>
        <li><a href="#" class="active">Summer 15</a></li>
    </ul>
    <div class="ever float-right">
        <span>Version : 0.0.1</span>
    </div>
</div>
<div class="pagebody">
    <div class="einrformbase card p-4">
        <div class="card-title">
            Academic Year
        </div>
        <div class="card-body">
            <form>
                <ul class="einrform">
                    <li>
                        <div class="form-group">
                            <label>
                                Academic Year
                            </label>
                            <input type="text" class="form-control" />
                        </div>
                    </li>
                    <li>
                        <div class="form-group">
                            <label>
                                Start Date
                            </label>
                            <input type="text" class="form-control" />
                        </div>
                    </li>
                    <li>
                        <div class="form-group">
                            <label>
                                End Date
                            </label>
                            <input type="text" class="form-control" />
                        </div>
                    </li>
                    <li>
                        <input type="submit" class="btn btn-info" value="Save" />
                    </li>
                </ul>
            </form>
        </div>
    </div>
</div>


